<ion-header>
</ion-header>

<ion-content color="medium">

  <ion-grid>
    <ion-card>
      <form [formGroup]="produtosForm">
        <ion-item color="dark" expand="full">
          <ion-label class="ion-text-center">
            Cadastro de Produtos
          </ion-label>
        </ion-item>
        <ion-card-content>
          <ion-item>
            <ion-input placeholder="Nome do Produto:" formControlName="nome"></ion-input>
          </ion-item>
          <ng-container *ngFor="let erro of mensagemErro.nome">
            <span class="msg-erro" *ngIf="nome.errors?.[erro.tipo] && (nome.dirty || nome.touched)">
              {{erro.aviso}}
            </span>
          </ng-container>
          <ion-item>
            <ion-input placeholder="Descrição:" formControlName="descricao"></ion-input>
          </ion-item>
          <ng-container *ngFor="let erro of mensagemErro.descricao">
            <span class="msg-erro" *ngIf="descricao.errors?.[erro.tipo] && (descricao.dirty || descricao.touched)">
              {{erro.aviso}}
            </span>
          </ng-container>
          <ion-item>
            <ion-label>
              R$
            </ion-label>
            <ion-input type="number" placeholder="Preço:" formControlName="preco"></ion-input>
          </ion-item>
          <ng-container *ngFor="let erro of mensagemErro.preco">
            <span class="msg-erro" *ngIf="preco.errors?.[erro.tipo] && (preco.dirty || preco.touched)">
              {{erro.aviso}}
            </span>
          </ng-container>
          <ion-item>
            <ion-datetime class="radius1 margin" color="dark" presentation="date" min="2022-11-28T00:00:00"
              max="2030-05-31T23:59:59" placeholder="Data de Validade:" formControlName="dataValidade">
              <h2 slot="title">Selecione a data de validade</h2>
            </ion-datetime>
          </ion-item>
          <ng-container *ngFor="let erro of mensagemErro.dataValidade">
            <span class="msg-erro"
              *ngIf="dataValidade.errors?.[erro.tipo] && (dataValidade.dirty || dataValidade.touched)">
              {{erro.aviso}}
            </span>
          </ng-container>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button expand="block" shape="round" color="dark" (click)="salvarProduto()">Cadastrar Produto</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </form>
    </ion-card>
  </ion-grid>
</ion-content>